* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
}

.wrapper {
  margin-right: auto; 
  margin-left: auto; 
  max-width:1160px; 
  padding-right: 10px; 
  padding-left: 10px;
  padding-top: 20px;
}

.logo {
  width: 100px;
}

.info-div {
  background: #609;
}

.info {
  color: white;
  padding: 60px 0;
  width: 100%;
  height: 200px;
}

.calculator {
  background-image: url(./imgs/calculator-preview.png);
  background-position: 50% 0;
  background-size: initial;
}